src/holosoma_retargeting/holosoma_retargeting/models/smplx/*.npz filter=lfs diff=lfs merge=lfs -text
src/holosoma_retargeting/holosoma_retargeting/models/*/*.obj -diff
src/holosoma_retargeting/holosoma_retargeting/models/*/collision/*.obj -diff
