<?xml version='1.0' encoding='utf-8'?>
<robot name="trashcan">
  <dynamics damping="0.5" friction="0.9" />
  <link name="trashcan_link">
    <inertial>
      <mass value="0.1" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.002" ixy="0" ixz="0" iyy="0.002" iyz="0" izz="0.002" />
    </inertial>
    <contact>
      <lateral_friction value="0.9" />
      <rolling_friction value="0.5" />
      <stiffness value="30000" />
      <damping value="1000" />
    </contact>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="trashcan.obj" scale="1 1 1" />
      </geometry>
      <material name="mat">
        <color rgba="0.7 0.8 0.9 0.7" />
      </material>
    </visual>
    <collision name="trashcan_collision_000">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_000.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_001">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_001.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_002">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_002.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_003">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_003.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_004">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_004.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_005">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_005.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_006">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_006.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_007">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_007.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_008">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_008.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_009">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_009.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_010">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_010.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_011">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_011.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_012">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_012.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_013">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_013.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_014">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_014.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_015">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_015.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_016">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_016.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_017">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_017.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_018">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_018.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_019">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_019.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_020">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_020.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_021">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_021.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_022">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_022.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_023">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_023.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_024">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_024.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_025">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_025.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_026">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_026.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_027">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_027.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_028">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_028.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_029">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_029.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="trashcan_collision_030">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/trashcan_collision_030.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>