<?xml version='1.0' encoding='utf-8'?>
<robot name="whitechair">
  <dynamics damping="0.5" friction="0.9" />
  <link name="whitechair_link">
    <inertial>
      <mass value="0.1" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.002" ixy="0" ixz="0" iyy="0.002" iyz="0" izz="0.002" />
    </inertial>
    <contact>
      <lateral_friction value="0.9" />
      <rolling_friction value="0.5" />
      <stiffness value="30000" />
      <damping value="1000" />
    </contact>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="whitechair.obj" scale="1 1 1" />
      </geometry>
      <material name="mat">
        <color rgba="0.7 0.8 0.9 0.7" />
      </material>
    </visual>
    <collision name="whitechair_collision_000">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_000.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_001">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_001.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_002">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_002.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_003">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_003.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_004">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_004.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_005">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_005.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_006">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_006.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_007">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_007.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_008">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_008.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_009">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_009.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_010">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_010.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_011">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_011.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_012">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_012.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_013">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_013.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_014">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_014.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_015">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_015.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_016">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_016.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_017">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_017.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_018">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_018.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_019">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_019.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_020">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_020.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_021">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_021.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_022">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_022.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_023">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_023.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_024">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_024.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_025">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_025.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_026">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_026.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_027">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_027.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_028">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_028.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_029">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_029.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_030">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_030.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_031">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_031.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_032">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_032.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_033">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_033.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_034">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_034.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_035">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_035.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_036">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_036.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_037">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_037.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_038">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_038.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_039">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_039.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_040">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_040.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_041">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_041.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_042">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_042.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_043">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_043.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_044">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_044.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_045">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_045.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_046">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_046.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_047">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_047.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_048">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_048.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_049">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_049.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_050">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_050.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_051">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_051.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_052">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_052.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_053">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_053.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_054">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_054.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_055">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_055.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_056">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_056.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_057">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_057.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="whitechair_collision_058">
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="collision/whitechair_collision_058.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>